# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de build
dist/
.next/
out/

# Configuración del sistema operativo
.DS_Store
Thumbs.db

package-lock.json